{% extends 'base.html' %}

{% block content %}

<form action="/updateRoom/{{room.id}} " method="POST"  class="container" >
  <!-- 2 column grid layout with text inputs for the first and last names -->
{% csrf_token %}
  <!-- Text input -->
  <div class="form-outline mb-4">

    <input type="number" name="number_of_room" id="form6Example3" class="form-control" placeholder="number_of_room" value={{room.number_of_room}} />
  </div>
  <input type="number" name="available_rooms" id="form6Example3" class="form-control" placeholder="available rooms" value={{room.available_rooms}} />
</div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="number" name="room_price" id="form6Example4" class="form-control" placeholder="room_price" value={{room.room_price}} />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="area_of_room" value={{room.area_of_room}} id="form6Example5" class="form-control" placeholder="Area of room" />
  </div> 

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" name="floor" value={{room.floor}} id="form6Example5" class="form-control" placeholder="floor" />
  </div>

  <!-- Number input -->
  <div class="form-outline mb-4">
    <select class="form-select" name="parking" aria-label="Default select example">
      <option default selected value="{{room.parking}}" >--Parking--</option>
      <option  value="True" >Yes</soption> 
      <option value="False " >No</option>
    </select>
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="address" value={{room.address}} id="form6Example5" class="form-control" placeholder="address" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="city" value={{room.city}} id="form6Example5" class="form-control" placeholder="city" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="state" value={{room.state}} id="form6Example5" class="form-control" placeholder="state" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="country" value={{room.country}} id="form6Example5" class="form-control" placeholder="country" />
  </div>
  <div class="form-outline mb-4">
    {% comment %} <input type="file" name="image1" id="form6Example5" value="{{room.image1.url}} " class="form-control" placeholder="image" /> {% endcomment %}
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image2" id="form6Example5" class="form-control" placeholder="image2" />
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image3" id="form6Example5" class="form-control" placeholder="floor" />
  </div>
  <div class="form-outline mb-4"> 
    <input type="file" name="image4" id="form6Example5"  class="form-control" placeholder="floor" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="description" value="{{room.description}}" id="form6Example5" class="form-control" placeholder="desc" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="map_link" value="{{room.map_link}}" id="form6Example5" class="form-control" placeholder="map_link" />
  </div>
  <!-- Message input -->
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Update Room</button>
</form>

{% endblock content %}