{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/updateBookStatus/{{bookedRoom.id}}/">
    {% csrf_token %}
    <h2>User :{{bookedRoom.customer}} </h2>
<select name="book_status">
    <option selected  value="{{bookedRoom.book_status}}">{{bookedRoom.book_status}}</option>
    <option value="pending">Pending</option>
    <option value="booked">Booked</option>
    <option value="cancel">Cancel</option>
</select>
<button type="submit" >Submit</button>
</form>
{% endblock %}