{% extends 'base.html' %} {% load static %} {% block content %}
<section style="background-color: #eee">
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Rooms</strong></h4>

    <div class="row">
      {% for room in roomList %}

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div
            class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light"
          >
            <img
              src="{% static 'rooms/image1' %} "
              class="w-100"
              alert="Image "
            />
            <a href="#!">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5>
                    <span class="badge bg-success ms-2">{{room.owner}}</span>
                  </h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Address {{room.address}}</h5>
            <h6 class="">Room id =  {{room.id}}</h6>
            <h6 class="">Price {{room.room_price}}</h6>
            <h6 class="">State: {{room.state}}</h6>
            <a href="/roomView/{{room.id}} " >
              <button class="btn btn-primary">View</button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
