{% extends 'base.html' %}

{% block content %}

<form action="" method="post"  class="container" >
  <!-- 2 column grid layout with text inputs for the first and last names -->
{% csrf_token %}
  <!-- Text input -->
  <div class="form-outline mb-4">

    <input type="number" name="number_of_room" id="form6Example3" class="form-control" placeholder="number_of_room" value={{room.number_of_room}} />
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="number" name="room_price" id="form6Example4" class="form-control" placeholder="room_price" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="area_of_room" id="form6Example5" class="form-control" placeholder="Area of room" />
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" name="floor" id="form6Example5" class="form-control" placeholder="floor" />
  </div>

  <!-- Number input -->
  <div class="form-outline mb-4">
    <select class="form-select" name="parking" aria-label="Default select example">
      <option default selected disabled value="notnull" >--Parking--</option>
      <option  value="True" >Yes</soption>
      <option value="False " >No</option>
    </select>
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="address" id="form6Example5" class="form-control" placeholder="address" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="city" id="form6Example5" class="form-control" placeholder="city" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="state" id="form6Example5" class="form-control" placeholder="state" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="country" id="form6Example5" class="form-control" placeholder="country" />
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image1" id="form6Example5" class="form-control" placeholder="image" />
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image2" id="form6Example5" class="form-control" placeholder="image2" />
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image3" id="form6Example5" class="form-control" placeholder="floor" />
  </div>
  <div class="form-outline mb-4">
    <input type="file" name="image4" id="form6Example5" class="form-control" placeholder="floor" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="description" id="form6Example5" class="form-control" placeholder="desc" />
  </div>
  <div class="form-outline mb-4">
    <input type="text" name="map_link" id="form6Example5" class="form-control" placeholder="map_link" />
  </div>
  <!-- Message input -->
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Update Room</button>
</form>

{% endblock content %}