
<!-- footer section starts  -->
<footer class="footer-distributed" id="aboutUs">

    <div class="footer-left">
      <h3>Rental<span>Zone</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        |
        <a href="#">About</a>
        |
        <a href="#">Support us</a>
      </p>

      <p class="footer-company-name">Copyright © 2022 All rights reserved</p>
    </div>

    <div class="footer-center" id="contactUs">
      <h3>Get in touch</h3>
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Baneshwor</span>
          Kathmandu</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+977 9846014473</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="">rentalzone@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About us</span>
        <strong>Rental Zone</strong>is a platform to find room and flats.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </footer>

  <!-- footer section ends -->