{% load static %}
<nav>
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a href="#">Rental&nbsp;Zone</a></div>
      <ul class="links">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <li><a href="/">Home</a></li>
        <li><a href="#aboutUs">About</a></li>
        <li><a href="{% url 'roomList' %}">Rooms</a></li>
        <li><a href="#contactUs">Contact</a></li>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        
        {% if request.user.is_staff %}
        <li><a href="/accounts/dashboard" class="navButton" >Dashboard</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href=" {% url 'logout' %} " class="navButton" >Logout</a></li>
        <li><a href="/accounts/userProfile" class="navButton" >Profile</a></li>
        {% else %}  
        <li><a href="{% url 'login' %}" class="navButton" >Login</a></li>
        <li><a href="/accounts/register" class="navButton" >Register</a></li>
        {% endif%}
    </div>
  </nav>
