{% extends './dashBase.html' %}
{% load static %}
{% block content %}
<div id="main">

  <div class="head">
      <div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav"  >&#9776; Rooms</span>
<span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav2"  >&#9776; Rooms</span>
</div>
<br>
<br>
<br><br>
<div class="col-div-8">
<div class="box-8">
<div class="content-box">
<table class="appointments">
  <thead>
      <td>Room Id</td>
      <td>Owner</td>
      <td>No of Rooms</td>
      <td>Room Price</td>
      <td>Address</td>
      <td>Update</td>
      <td>Delete</td>
  </thead>
  <tbody>

    {% for room in rooms %}

    <tr>
      <td>{{room.id}} </td>
      <td>{{room.owner}}</td>
      <td>{{room.number_of_room}} / {{room.available_rooms}} </td>
      <td>{{room.room_price}}</td>
      <td>{{room.address}} </td>
      <td><a href=" {% url 'editRoom' room.id %} ">  <i class="far fa-edit"></i></a></td>
      <td><a href=" {% url 'deleteRoom' room.id %} "><i class="far fa-trash-alt"></i></a></td>
    </tr>
    </tr>
   {% endfor %}
  </tbody>
          </table>
          </div>
          </div>
          </div>
          </div>
          </div>
      
        </body>
        {% endblock content %}  