{% extends './dashBase.html' %}
{% load static %}
{% block content %}
    </div>
    <div id="main">
    
      <div class="head">
          <div class="col-div-6">
    <span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav"  >&#9776; Users</span>
    <span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav2"  >&#9776; Users</span>
    </div>
    <br>
    <br>
    <br><br>
    <div class="col-div-8">
    <div class="box-8">
    <div class="content-box">
    <a href=" {% url 'registerUser' %} " ><button> Create </button> </a>
    <br><br>
    <table class="appointments">
      <thead>
        <td>User ID</td>
        <td>Username</td>
        <td>Address</td>
        <td>User type</td>
        <td>Phone</td>
        <td>Update</td>
        <td>Delete</td>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.customuser.address}}</td>
              <td>{{user.customuser.user_type}}</td>
              <td>{{user.customuser.phone}}</td>
              <td><a href=" {% url 'editProfile' user.id %}  "> <i class="far fa-edit"></i></a></td>
              <td><a href=" "><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
          <tr>
              </tbody>
              </table>
              </div>
              </div>
              </div>
              </div>
              </div>
          
            </body>
              {% endblock content %}   
    