{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="container-fluid">

{% include './sidebar.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="dashboardDataId">

      <h2>Reviews</h2>
      {% comment %} <a> <button>Create</button></a> {% endcomment %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Room Id</th>
              <th scope="col">Owner</th>
              <th scope="col">User</th>
              <th scope="col">Rate</th>
              <th scope="col">Address</th>
              <th scope="col" colspan="2">Date</th>
              
              {% comment %} 
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th> {% endcomment %}

            </tr>
        </thead>
          <tbody>

            {% for review in reviews %}

            <tr>
              <td>{{review.room.id}} </td>
              <td>{{review.room.owner}}</td>
              <td>{{review.user}}</td>
              <td>{{review.rate}} / 10</td>
              <td>{{review.room.address}} </td>
              <td >{{review.text}} </td>
              <td><a href=" {% url 'deleteReview' review.id %} "> <button> delete </button></a> </td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>

      


    </main>


  </div>
</div>



{% endblock %}
